.new-user-input-container {
  max-width: 400px;
}

.new-user-button-container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.new-user-button-container button {
  min-width: 110px;
}

@media (min-width: 576px) {
  .new-user-input-container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .new-user-button-container {
    max-width: 500px;
  }

  .new-user-button-container button {
    min-width: 200px;
  }
}

@media (min-width: 768px) {
  .new-user-input-container {
    max-width: 680px;
  }

  .new-user-button-container {
    max-width: unset;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .new-user-input-container {
    max-width: 800px;
  }
}
