.registered-card {
  padding: 20px;
  font-size: 16px;
  min-height: 500px;
}

.registered-card h1 {
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
}

.registered-username {
  font-size: 1.5em;
  letter-spacing: -0.015em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.registered-card p {
  font-size: 1.25em;
  letter-spacing: -0.015em;
}

.registered-card a {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration-line: underline;
  color: #407bff;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .registered-card {
    padding: 50px;
  }
}
