.new-request-user-card {
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-request-counter {
  font-weight: bold;
}

@media (min-width: 768px) {
  .new-request-user-card {
    padding-left: 35px;
    padding-right: 50px;
  }
}
